openapi: 3.0.3
info:
  title: Payloop API
  description: Subscription billing platform API
  version: 1.0.0
  contact:
    name: Payloop Support
    url: https://payloop.com
servers:
  - url: https://api.payloop.com
    description: Production server
  - url: https://api.test.payloop.com
    description: Test server

security:
  - ApiKeyAuth: []
  - BearerAuth: []

paths:
  # Health
  /api/health:
    get:
      tags: [Health]
      summary: Health check
      operationId: healthCheck
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ok"

  # Subscriptions
  /api/subscriptions:
    get:
      tags: [Subscriptions]
      summary: List subscriptions
      operationId: listSubscriptions
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/SortDirection'
      responses:
        '200':
          description: List of subscriptions
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ListResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Subscription'

  /api/subscriptions/{id}:
    get:
      tags: [Subscriptions]
      summary: Get subscription by ID
      operationId: getSubscription
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
      responses:
        '200':
          description: Subscription details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [Subscriptions]
      summary: Update subscription
      operationId: updateSubscription
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                metadata:
                  type: object
                  additionalProperties:
                    type: string
      responses:
        '200':
          description: Updated subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'

  /api/subscriptions/{id}/payments:
    get:
      tags: [Subscriptions]
      summary: List subscription payments
      operationId: listSubscriptionPayments
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: List of payments
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ListResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Payment'

  /api/subscriptions/{id}/pause:
    put:
      tags: [Subscriptions]
      summary: Pause subscription
      operationId: pauseSubscription
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Reason for pausing
      responses:
        '200':
          description: Paused subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'

  /api/subscriptions/{id}/resume:
    put:
      tags: [Subscriptions]
      summary: Resume subscription
      operationId: resumeSubscription
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Reason for resuming
                continue_existing_period:
                  type: boolean
                  description: Whether to continue existing billing period
      responses:
        '200':
          description: Resumed subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'

  /api/subscriptions/{id}/cancel:
    put:
      tags: [Subscriptions]
      summary: Cancel subscription
      operationId: cancelSubscription
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Reason for cancellation
      responses:
        '200':
          description: Cancelled subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'

  /api/subscriptions/{id}/change-plan:
    put:
      tags: [Subscriptions]
      summary: Change subscription plan
      operationId: changeSubscriptionPlan
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePlanRequest'
      responses:
        '200':
          description: Updated subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/subscriptions/{id}/billing-anchor:
    put:
      tags: [Subscriptions]
      summary: Update subscription billing anchor
      operationId: updateBillingAnchor
      parameters:
        - $ref: '#/components/parameters/SubscriptionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [billing_anchor]
              properties:
                billing_anchor:
                  type: integer
                  minimum: 1
                  maximum: 31
                  description: Day of month for billing
                proration_mode:
                  type: string
                  enum: [none, credit_unused]
                  default: none
      responses:
        '200':
          description: Updated subscription with proration details
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscription:
                    $ref: '#/components/schemas/Subscription'
                  proration_details:
                    $ref: '#/components/schemas/ProrationDetails'

  # Customers
  /api/customers:
    get:
      tags: [Customers]
      summary: List customers
      operationId: listCustomers
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: List of customers
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ListResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Customer'
    post:
      tags: [Customers]
      summary: Create customer
      operationId: createCustomer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerRequest'
      responses:
        '201':
          description: Created customer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/customers/{id}:
    get:
      tags: [Customers]
      summary: Get customer by ID
      operationId: getCustomer
      parameters:
        - $ref: '#/components/parameters/CustomerId'
      responses:
        '200':
          description: Customer details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/customers/{id}/payment-methods:
    post:
      tags: [Customers]
      summary: Create customer payment method
      operationId: createCustomerPaymentMethod
      parameters:
        - $ref: '#/components/parameters/CustomerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentMethodRequest'
      responses:
        '201':
          description: Created payment method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethod'

  /api/customers/{id}/payment-methods/{pmid}:
    put:
      tags: [Customers]
      summary: Update customer payment method
      operationId: updateCustomerPaymentMethod
      parameters:
        - $ref: '#/components/parameters/CustomerId'
        - name: pmid
          in: path
          required: true
          schema:
            type: string
          description: Payment method ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentMethodRequest'
      responses:
        '200':
          description: Updated payment method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethod'

  /api/customers/{id}/invoices:
    get:
      tags: [Customers]
      summary: List customer invoices
      operationId: listCustomerInvoices
      parameters:
        - $ref: '#/components/parameters/CustomerId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: List of customer invoices
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ListResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Invoice'

  # Products
  /api/products:
    get:
      tags: [Products]
      summary: List products
      operationId: listProducts
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: List of products
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ListResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Product'
    post:
      tags: [Products]
      summary: Create product
      operationId: createProduct
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductRequest'
      responses:
        '201':
          description: Created product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'

  /api/products/{id}:
    get:
      tags: [Products]
      summary: Get product by ID
      operationId: getProduct
      parameters:
        - $ref: '#/components/parameters/ProductId'
      responses:
        '200':
          description: Product details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
    patch:
      tags: [Products]
      summary: Update product
      operationId: updateProduct
      parameters:
        - $ref: '#/components/parameters/ProductId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                metadata:
                  type: object
                  additionalProperties:
                    type: string
      responses:
        '200':
          description: Updated product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
    delete:
      tags: [Products]
      summary: Delete product
      operationId: deleteProduct
      parameters:
        - $ref: '#/components/parameters/ProductId'
      responses:
        '204':
          description: Product deleted

  /api/products/{id}/variants:
    get:
      tags: [Products]
      summary: List product variants
      operationId: listProductVariants
      parameters:
        - $ref: '#/components/parameters/ProductId'
      responses:
        '200':
          description: List of variants
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Variant'
    post:
      tags: [Products]
      summary: Create product variant
      operationId: createProductVariant
      parameters:
        - $ref: '#/components/parameters/ProductId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVariantRequest'
      responses:
        '201':
          description: Created variant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Variant'

  # Variants
  /api/variants/{variantId}:
    get:
      tags: [Variants]
      summary: Get variant by ID
      operationId: getVariant
      parameters:
        - $ref: '#/components/parameters/VariantId'
      responses:
        '200':
          description: Variant details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Variant'
    put:
      tags: [Variants]
      summary: Update variant
      operationId: updateVariant
      parameters:
        - $ref: '#/components/parameters/VariantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVariantRequest'
      responses:
        '200':
          description: Updated variant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Variant'
    delete:
      tags: [Variants]
      summary: Delete variant
      operationId: deleteVariant
      parameters:
        - $ref: '#/components/parameters/VariantId'
      responses:
        '204':
          description: Variant deleted

  /api/variants/{variantId}/prices:
    get:
      tags: [Variants]
      summary: List variant prices
      operationId: listVariantPrices
      parameters:
        - $ref: '#/components/parameters/VariantId'
      responses:
        '200':
          description: List of prices
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Price'

  # Prices
  /api/prices:
    post:
      tags: [Prices]
      summary: Create price
      operationId: createPrice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePriceRequest'
      responses:
        '201':
          description: Created price
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Price'

  /api/prices/{priceId}:
    get:
      tags: [Prices]
      summary: Get price by ID
      operationId: getPrice
      parameters:
        - $ref: '#/components/parameters/PriceId'
      responses:
        '200':
          description: Price details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Price'
    patch:
      tags: [Prices]
      summary: Update price
      operationId: updatePrice
      parameters:
        - $ref: '#/components/parameters/PriceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                metadata:
                  type: object
                  additionalProperties:
                    type: string
      responses:
        '200':
          description: Updated price
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Price'
    delete:
      tags: [Prices]
      summary: Delete price
      operationId: deletePrice
      parameters:
        - $ref: '#/components/parameters/PriceId'
      responses:
        '204':
          description: Price deleted

  # Orders
  /api/orders:
    get:
      tags: [Orders]
      summary: List orders
      operationId: listOrders
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: List of orders
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ListResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Order'
    post:
      tags: [Orders]
      summary: Create order
      operationId: createOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Created order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'

  /api/orders/{id}:
    get:
      tags: [Orders]
      summary: Get order by ID
      operationId: getOrder
      parameters:
        - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'

  /api/orders/{id}/complete:
    post:
      tags: [Orders]
      summary: Complete order
      operationId: completeOrder
      parameters:
        - $ref: '#/components/parameters/OrderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteOrderRequest'
      responses:
        '200':
          description: Completed order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'

  /api/orders/{id}/subscriptions:
    get:
      tags: [Orders]
      summary: List order subscriptions
      operationId: listOrderSubscriptions
      parameters:
        - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: List of subscriptions created from order
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Subscription'

  # Payments
  /api/payments:
    get:
      tags: [Payments]
      summary: List payments
      operationId: listPayments
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: List of payments
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ListResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Payment'

  /api/payments/{id}:
    get:
      tags: [Payments]
      summary: Get payment by ID
      operationId: getPayment
      parameters:
        - $ref: '#/components/parameters/PaymentId'
      responses:
        '200':
          description: Payment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'

  /api/payments/{id}/refund:
    post:
      tags: [Payments]
      summary: Refund payment
      operationId: refundPayment
      parameters:
        - $ref: '#/components/parameters/PaymentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundPaymentRequest'
      responses:
        '200':
          description: Refund processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'

  # Invoices
  /api/invoices:
    get:
      tags: [Invoices]
      summary: List invoices
      operationId: listInvoices
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: List of invoices
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ListResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Invoice'
    post:
      tags: [Invoices]
      summary: Create invoice
      operationId: createInvoice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInvoiceRequest'
      responses:
        '201':
          description: Created invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'

  /api/invoices/{id}:
    get:
      tags: [Invoices]
      summary: Get invoice by ID
      operationId: getInvoice
      parameters:
        - $ref: '#/components/parameters/InvoiceId'
      responses:
        '200':
          description: Invoice details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
    put:
      tags: [Invoices]
      summary: Update invoice
      operationId: updateInvoice
      parameters:
        - $ref: '#/components/parameters/InvoiceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                customer_notes:
                  type: string
                notes:
                  type: string
                due_at:
                  type: string
                  format: date-time
      responses:
        '200':
          description: Updated invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'

  /api/invoices/{id}/actions:
    post:
      tags: [Invoices]
      summary: Perform invoice action
      operationId: performInvoiceAction
      parameters:
        - $ref: '#/components/parameters/InvoiceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action:
                  type: string
                  enum: [send, finalize, void, mark_paid]
                  description: Action to perform on invoice
      responses:
        '200':
          description: Action performed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'

  /api/invoices/{id}/pdf:
    post:
      tags: [Invoices]
      summary: Generate invoice PDF
      operationId: generateInvoicePdf
      parameters:
        - $ref: '#/components/parameters/InvoiceId'
      responses:
        '200':
          description: PDF generated
          content:
            application/pdf:
              schema:
                type: string
                format: binary

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
    BearerAuth:
      type: http
      scheme: bearer

  parameters:
    Page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
    SortBy:
      name: sort_by
      in: query
      schema:
        type: string
    SortDirection:
      name: sort_order
      in: query
      schema:
        type: string
        enum: [asc, desc]
        default: desc
    SubscriptionId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Subscription ID
    CustomerId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Customer ID
    ProductId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Product ID
    VariantId:
      name: variantId
      in: path
      required: true
      schema:
        type: string
      description: Variant ID
    PriceId:
      name: priceId
      in: path
      required: true
      schema:
        type: string
      description: Price ID
    OrderId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Order ID
    PaymentId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Payment ID
    InvoiceId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Invoice ID

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'

  schemas:
    # Common schemas
    ListResponse:
      type: object
      properties:
        data:
          type: array
          items: {}
        meta:
          $ref: '#/components/schemas/Meta'

    Meta:
      type: object
      properties:
        total:
          type: integer
        page:
          type: integer
        limit:
          type: integer

    ApiError:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: object

    Address:
      type: object
      properties:
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
        phone:
          type: string
        line1:
          type: string
        line2:
          type: string
        city:
          type: string
        state:
          type: string
        postal_code:
          type: string
        country:
          type: string

    # Request schemas
    CreateCustomerRequest:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email
        first_name:
          type: string
        last_name:
          type: string
        phone:
          type: string
        billing_address:
          $ref: '#/components/schemas/Address'
        metadata:
          type: object
          additionalProperties:
            type: string

    CreatePaymentMethodRequest:
      type: object
      required: [psp, name, type, token]
      properties:
        psp:
          type: string
          description: Payment service provider
        name:
          type: string
        type:
          type: string
          enum: [card]
        details:
          type: object
        token:
          type: string
        is_default:
          type: boolean
        billing_address:
          $ref: '#/components/schemas/Address'
        metadata:
          type: object
          additionalProperties:
            type: string

    CreateProductRequest:
      type: object
      required: [name, variants]
      properties:
        name:
          type: string
        description:
          type: string
        metadata:
          type: object
          additionalProperties:
            type: string
        variants:
          type: array
          items:
            $ref: '#/components/schemas/CreateVariantRequest'

    CreateVariantRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        metadata:
          type: object
          additionalProperties:
            type: string

    CreatePriceRequest:
      type: object
      required: [variant_id, category, scheme, currency, unit_price]
      properties:
        variant_id:
          type: string
        label:
          type: string
        category:
          type: string
          enum: [one_time, subscription, free, variable]
        scheme:
          type: string
          enum: [fixed, tiered, volume, graduated]
        cycles:
          type: integer
          minimum: 1
        currency:
          type: string
          pattern: '^[A-Z]{3}$'
        unit_price:
          type: integer
          minimum: 0
          description: Amount in smallest currency unit (e.g., cents)
        min_price:
          type: integer
          minimum: 0
        suggested_price:
          type: integer
          minimum: 0
        billing_interval:
          type: string
          enum: [none, minute, hour, day, week, month, year]
        billing_interval_qty:
          type: integer
          minimum: 1
          maximum: 999
        trial_interval:
          type: string
          enum: [none, minute, hour, day, week, month, year]
        trial_interval_qty:
          type: integer
          minimum: 1
        tax_code:
          type: string
        metadata:
          type: object
          additionalProperties:
            type: string

    CreateOrderRequest:
      type: object
      required: [customer, psp_id]
      properties:
        customer:
          $ref: '#/components/schemas/CreateCustomerRequest'
        payment_method_id:
          type: string
        session_id:
          type: string
        psp_id:
          type: string
        cart:
          type: object
          properties:
            items:
              type: array
              items:
                type: object
                required: [product_id, price_id, quantity]
                properties:
                  product_id:
                    type: string
                  price_id:
                    type: string
                  quantity:
                    type: integer
                    minimum: 1
        metadata:
          type: object
          additionalProperties:
            type: string
        options:
          type: object
          additionalProperties:
            type: string

    CompleteOrderRequest:
      type: object
      properties:
        payment_method_id:
          type: string
        payment_method:
          type: object
          properties:
            token:
              type: string
            type:
              type: string
        payment:
          type: object
          properties:
            amount:
              type: integer
            currency:
              type: string
        metadata:
          type: object
          additionalProperties:
            type: string

    CreateInvoiceRequest:
      type: object
      required: [customer_id, type, invoice_type, currency]
      properties:
        customer_id:
          type: string
        order_id:
          type: string
        subscription_id:
          type: string
        type:
          type: string
          enum: [invoice, proforma, quote, receipt, statement]
        invoice_type:
          type: string
          enum: [initial, recurring, usage, adjustment, setup, cancellation, refund]
        currency:
          type: string
          pattern: '^[A-Z]{3}$'
        due_at:
          type: string
          format: date-time
        notes:
          type: string
        customer_notes:
          type: string
        metadata:
          type: object
          additionalProperties:
            type: string
        line_items:
          type: array
          items:
            $ref: '#/components/schemas/CreateInvoiceLineItemRequest'

    CreateInvoiceLineItemRequest:
      type: object
      required: [description, quantity, unit_price]
      properties:
        product_id:
          type: string
        variant_id:
          type: string
        price_id:
          type: string
        description:
          type: string
        category:
          type: string
        quantity:
          type: number
          minimum: 0
        unit_price:
          type: integer
          minimum: 0
        discount_type:
          type: string
          enum: [percentage, fixed]
        discount_value:
          type: integer
        tax_code:
          type: string
        tax_rate:
          type: integer
        tax_exempt:
          type: boolean
        metadata:
          type: object
          additionalProperties:
            type: string

    ChangePlanRequest:
      type: object
      required: [new_variant_id, new_price_id]
      properties:
        new_variant_id:
          type: string
        new_price_id:
          type: string
        proration_mode:
          type: string
          enum: [none, immediate, credit_unused]
          default: none
        effective_date:
          type: string
          enum: [immediate, next_billing_cycle]
          default: immediate
        reason:
          type: string

    RefundPaymentRequest:
      type: object
      properties:
        reason:
          type: string
        amount:
          type: integer
          minimum: 0
          description: Amount to refund in smallest currency unit. If not provided, full amount will be refunded.

    # Response schemas
    Customer:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        phone:
          type: string
        billing_address:
          $ref: '#/components/schemas/Address'
        metadata:
          type: object
          additionalProperties:
            type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Product:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        variants:
          type: array
          items:
            $ref: '#/components/schemas/Variant'
        metadata:
          type: object
          additionalProperties:
            type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Variant:
      type: object
      properties:
        id:
          type: string
        product_id:
          type: string
        name:
          type: string
        description:
          type: string
        prices:
          type: array
          items:
            $ref: '#/components/schemas/Price'
        metadata:
          type: object
          additionalProperties:
            type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Price:
      type: object
      properties:
        id:
          type: string
        variant_id:
          type: string
        label:
          type: string
        category:
          type: string
          enum: [one_time, subscription, free, variable]
        scheme:
          type: string
          enum: [fixed, tiered, volume, graduated]
        cycles:
          type: integer
        currency:
          type: string
        unit_price:
          type: integer
        min_price:
          type: integer
        suggested_price:
          type: integer
        billing_interval:
          type: string
          enum: [none, minute, hour, day, week, month, year]
        billing_interval_qty:
          type: integer
        trial_interval:
          type: string
          enum: [none, minute, hour, day, week, month, year]
        trial_interval_qty:
          type: integer
        tax_code:
          type: string
        metadata:
          type: object
          additionalProperties:
            type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Subscription:
      type: object
      properties:
        id:
          type: string
        psp_id:
          type: string
        order_id:
          type: string
        order_item_id:
          type: string
        customer_id:
          type: string
        payment_method_id:
          type: string
        product_id:
          type: string
        variant_id:
          type: string
        price_id:
          type: string
        status:
          type: string
          enum: [trial, active, past_due, non_renewing, paused, unpaid, cancelled, pending, expired, completed, error]
        start_date:
          type: string
          format: date-time
        end_date:
          type: string
          format: date-time
        billing_interval:
          type: string
          enum: [none, minute, hour, day, week, month, year]
        billing_interval_qty:
          type: integer
        cycles:
          type: integer
        billing_anchor:
          type: integer
        trial_ends_at:
          type: string
          format: date-time
        cancel_at:
          type: string
          format: date-time
        ends_at:
          type: string
          format: date-time
        last_charge:
          type: string
          format: date-time
        renews_at:
          type: string
          format: date-time
        current_period_start:
          type: string
          format: date-time
        current_period_end:
          type: string
          format: date-time
        retries:
          type: integer
        next_retry:
          type: string
          format: date-time
        currency:
          type: string
        amount:
          type: integer
        metadata:
          type: object
          additionalProperties:
            type: string
        cycles_processed:
          type: integer
        total_revenue:
          type: integer
        cancelled_at:
          type: string
          format: date-time
        customer:
          $ref: '#/components/schemas/Customer'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Order:
      type: object
      properties:
        id:
          type: string
        customer_id:
          type: string
        status:
          type: string
          enum: [pending, failed, refunded, partial_refund, completed, expired, cancelled, fraudulent]
        reference:
          type: string
        session_id:
          type: string
        currency:
          type: string
        total:
          type: integer
        metadata:
          type: object
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
        customer:
          $ref: '#/components/schemas/Customer'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    OrderItem:
      type: object
      properties:
        id:
          type: string
        order_id:
          type: string
        product_id:
          type: string
        variant_id:
          type: string
        price_id:
          type: string
        description:
          type: string
        quantity:
          type: number
        sub_total:
          type: integer
        total:
          type: integer
        tax_total:
          type: integer
        discount_total:
          type: integer
        metadata:
          type: object
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Payment:
      type: object
      properties:
        id:
          type: string
        psp:
          type: string
        psp_id:
          type: string
        reference:
          type: string
        recurring:
          type: boolean
        order_id:
          type: string
        invoice_id:
          type: string
        subscription_id:
          type: string
        amount:
          type: integer
        currency:
          type: string
        status:
          type: string
          enum: [pending, failed, succeeded, refunded, partial_refund, cancelled, expired, fraudulent]
        psp_fee:
          type: integer
        platform_fee:
          type: integer
        net_amount:
          type: integer
        refunded_amount:
          type: integer
        metadata:
          type: object
        completed_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    PaymentMethod:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum: [active, expired]
        psp:
          type: string
        name:
          type: string
        customer_id:
          type: string
        billing_address:
          $ref: '#/components/schemas/Address'
        details:
          type: object
        type:
          type: string
        token:
          type: string
        metadata:
          type: object
        expire_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Invoice:
      type: object
      properties:
        id:
          type: string
        customer_id:
          type: string
        order_id:
          type: string
        subscription_id:
          type: string
        sequence_id:
          type: string
        doc_number:
          type: string
        type:
          type: string
          enum: [invoice, proforma, quote, receipt, statement]
        invoice_type:
          type: string
          enum: [initial, recurring, usage, adjustment, setup, cancellation, refund]
        status:
          type: string
          enum: [draft, sent, paid, overdue, cancelled, refunded]
        is_immutable:
          type: boolean
        currency:
          type: string
        sub_total:
          type: integer
        tax_total:
          type: integer
        discount_total:
          type: integer
        total:
          type: integer
        amount_paid:
          type: integer
        amount_due:
          type: integer
        tax_provider:
          type: string
        tax_transaction_id:
          type: string
        tax_breakdown:
          type: object
        issued_at:
          type: string
          format: date-time
        due_at:
          type: string
          format: date-time
        schedule_at:
          type: string
          format: date-time
        finalize_at:
          type: string
          format: date-time
        paid_at:
          type: string
          format: date-time
        notes:
          type: string
        customer_notes:
          type: string
        metadata:
          type: object
        exchange_rate:
          type: integer
        base_currency:
          type: string
        customer:
          $ref: '#/components/schemas/Customer'
        line_items:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceLineItem'
        payments:
          type: array
          items:
            $ref: '#/components/schemas/Payment'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    InvoiceLineItem:
      type: object
      properties:
        id:
          type: string
        invoice_id:
          type: string
        product_id:
          type: string
        variant_id:
          type: string
        price_id:
          type: string
        description:
          type: string
        category:
          type: string
        quantity:
          type: number
        unit_price:
          type: integer
        line_total:
          type: integer
        discount_type:
          type: string
        discount_value:
          type: integer
        discount_total:
          type: integer
        tax_code:
          type: string
        tax_rate:
          type: integer
        tax_amount:
          type: integer
        tax_exempt:
          type: boolean
        seq:
          type: integer
        metadata:
          type: object
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Refund:
      type: object
      properties:
        id:
          type: string
        psp_refund_id:
          type: string
        payment_id:
          type: string
        amount:
          type: integer
        currency:
          type: string
        reason:
          type: string
        status:
          type: string
          enum: [pending, completed, error]
        refunded_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ProrationDetails:
      type: object
      properties:
        credit_amount:
          type: integer
          description: Amount credited in smallest currency unit
        days_credited:
          type: integer
          description: Number of days credited
        current_period_start:
          type: string
          format: date-time
        current_period_end:
          type: string
          format: date-time
        old_billing_anchor:
          type: integer
        new_billing_anchor:
          type: integer
        new_period_start:
          type: string
          format: date-time
        new_period_end:
          type: string
          format: date-time